<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
<h1 align="center">Это моя домашняя страница!!!</h1>
<hr>
<p>Это моя домашняя страница, на которой мы учимся работать с HTML. Теперь я умею писать <em>курсивом</em> и ещё <strong>жирным.</strong>
</p>
<h3>Также теперь умею делать ссылки, например:</h3>
<a href="https://overone.by" target="_blank">IT OVERONE</a>
<h3>При этом обратите внимание, что моя ссылка открывается в отдельном окне.</h3>
А это просто кнопка. Она никуда пока что не ведёт. <button>Просто кнопка)))</button><br>
Ещё умею создавать списки маркированные и нумерованные.<br>
Вот маркированный список:
<ul>
    <li>Запись 1</li>
    <li>Запись 2</li>
    <li>Запись 3</li>
</ul>
Вот нумерованный список:
<ol>
    <li>так</li>
    <li>выглядит</li>
    <li>нумерованный</li>
    <li>список</li>
</ol><hr>
<h1 align="center">Начинаем учить CSS))) Хорошего дня)</h1>

</body>
</html>